# Exercício de classificação / dummy

</br>1 - Faça a dummificação nas variáveis categóricas.
</br>2 - Separes as bases em variáveis independentes e dependentes.
</br>3 - Crie a base de treino e de teste.
</br>4 - Crie o classificador
</br>5 - Avalie o classificador

## imports

In [53]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [54]:
base = pd.read_csv('./csv/bank-full.csv', delimiter=';')

## Base (DataFrame principal)

In [55]:
base

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no


### Retirando variaveis categoricas nao dummificadas

In [56]:
# Drop colunas categóricas
base_drop = base.drop(columns=["job","marital", "education","default", "housing", "loan", "contact", "month", "poutcome"], axis=1)
base_drop

       age  balance  day  duration  campaign  pdays  previous    y
0       58     2143    5       261         1     -1         0   no
1       44       29    5       151         1     -1         0   no
2       33        2    5        76         1     -1         0   no
3       47     1506    5        92         1     -1         0   no
4       33        1    5       198         1     -1         0   no
...    ...      ...  ...       ...       ...    ...       ...  ...
45206   51      825   17       977         3     -1         0  yes
45207   71     1729   17       456         2     -1         0  yes
45208   72     5715   17      1127         5    184         3  yes
45209   57      668   17       508         4     -1         0   no
45210   37     2971   17       361         2    188        11   no

[45211 rows x 8 columns]

### Dummy das variaveis categoricas

In [57]:
# Obter colunas dummy apenas para as categorias relevantes
categorica = pd.get_dummies(base[["job","marital", "education","default", "housing", "loan", "contact", "month", "poutcome"]], dtype=int)
categorica

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
45207,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
45208,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
45209,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
45210,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [58]:
base_nova = pd.concat([base_drop, categorica], axis=1)
base_nova

,age,balance,day,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5,261,1,-1,0,no,0,0,...,0,0,1,0,0,0,0,0,0,1
1,44,29,5,151,1,-1,0,no,0,0,...,0,0,1,0,0,0,0,0,0,1
2,33,2,5,76,1,-1,0,no,0,0,...,0,0,1,0,0,0,0,0,0,1
3,47,1506,5,92,1,-1,0,no,0,1,...,0,0,1,0,0,0,0,0,0,1
4,33,1,5,198,1,-1,0,no,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,17,977,3,-1,0,yes,0,0,...,0,0,0,1,0,0,0,0,0,1
45207,71,1729,17,456,2,-1,0,yes,0,0,...,0,0,0,1,0,0,0,0,0,1
45208,72,5715,17,1127,5,184,3,yes,0,0,...,0,0,0,1,0,0,0,0,1,0
45209,57,668,17,508,4,-1,0,no,0,1,...,0,0,0,1,0,0,0,0,0,1
45210,37,2971,17,361,2,188,11,no,0,0,...,0,0,0,1,0,0,0,1,0,0

## Separando em treino teste

In [70]:
X = base_nova.drop(['y'],axis=1)
y = base_nova['y']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=42)

In [71]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [76]:
print(f'{round(model.score(X_test, y_test) * 100,2 )}%')

87.58%